<% provide(:title, 'Home') %>
<h1>Welcome to Frankwtq's Blog</h1>
<p>Articles (<%= Article.count %>)</p>
<ul class="articles_list">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article %>
			<% if have_login? %>
				<%= link_to "edit", edit_article_path(article) %>
				<%= link_to "delete", article, method: :delete, data: {confirm: "You sure?"} %>
			<% end %>
		</li>
	<% end %>
</ul>

<% if have_login? %>
	<%= link_to "new article", new_path %>
<% end %>
